# Sanity project configuration
# Create a project at sanity.io/manage, then paste the values here.
# Rename this file to .env.local — do not commit .env.local to git.

NEXT_PUBLIC_SANITY_PROJECT_ID=qwjttp4n
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skKHTjB24OpfEfyqjWe2uGyHfX5YJPyNVLCP0TT1fgCnS9mDzmj8fb7EuDTfCSefEy2qfN81nx5umfUkn53TtlkkSGlBTLtXGOe2XNRBnokr72zE097nJDxrjnd16b2dX2J43OzW1xOp0qW2Xd481jXNcUQ9jBGkV2ZgJY1GoA7JhOqPOGPF
